{% extends '@App/base.html.twig' %}

{% block title %}Team management homepage{% endblock %}

{% block body %}
    <div class="center">
        <h1>Welcome in soccer management!</h1>

        <div class="search">
            <label for="search">Search for a player</label>
            <input id="search" name="search" type="text" data-url="{{ path("player_search") }}">
            {#<span class="search-btn"><i class="fa fa-search" aria-hidden="true"></i></span>#}
            <div id="searchResult"></div>
        </div>

        <p>
            You can use the search by providing country name/ club name OR / player name all separated with single space
        </p>

        <p>
            Lorem ipsum dolor sit amet, ei quo enim tractatos similique, an cum nibh utinam. Duis omittantur ad duo.
            Eos agam putent sensibus at, mundi officiis partiendo mei eu.
            Ea tation populo utamur nec, id eum albucius iudicabit, usu errem propriae in.
            Cum ne erant sonet sententiae, qui discere petentium dignissim ex.
        </p>

        <p>
            Agam dicta ne quo, eam cu tota iuvaret gubergren. Ex pri dolor verear.
            Mei ea luptatum constituam, an eum diam civibus imperdiet.
            Dolorum albucius lobortis te nam, ut erat iisque consequat mel.
            Vis facer possit voluptua no. Ius magna praesent corrumpit et.
        </p>
    </div>
{% endblock %}

