<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" type="image/png" href="{{ asset('favicon.png') }}" />
    </head>
    <body>
        {% block header %}{% endblock %}
        <div id="container">
            {% block body %}{% endblock %}
        </div>
        {% block footer %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
